export PROJECT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
export DATA_ROOT="${PROJECT_DIR}/Data"
export EXPERIMENTS_ROOT="${PROJECT_DIR}/Experiments"
export SCRATCHES_ROOT="${PROJECT_DIR}/Scratches"
export EXPERIMENTS_DATA_ROOT="${PROJECT_DIR}/Data/Experiments"
